/* Webkit (Safari, Chrome, Opera) */
::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
::-webkit-scrollbar:hover {
  width: 10px;
 
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 5px;
}

/* Firefox */
::-moz-scrollbar {
  width: 5px;
  background-color: transparent;
}
::-moz-scrollbar:hover {
  width: 10px;
  
}

::-moz-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 5px;
}

/* Internet Explorer and Edge */
/* Note: Scrollbar styling is limited in these browsers */
/* You can only change the color using the -ms- prefixed property */
/* Transparent background is not supported */
*::-ms-scrollbar {
  width: 5px;
}
*::-ms-scrollbar:hover {
  width: 10px;
}

*::-ms-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 5px;
}

/* Standard scrollbar styling */
/* This will apply to browsers that don't support vendor prefixes */
/* It's a good idea to include this as a fallback */
/* However, keep in mind that it may not have the same effect on all browsers */
/* Also, note that this will not work on Safari, which requires the Webkit prefix */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--main-color) transparent;
}

*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar:hover {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 5px;
}
